version: "3"
services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend/uploads:/app/uploads
    environment:
      - NODE_ENV=development
      - MONGO_URI=mongodb://mongo:27017/E_Repair_App
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    ports:
      - "3001:80"
  mongo:
    image: mongo:6
    container_name: repairshop-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
