name: CI/CD Pipeline

on:
  push:
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      # Backend
      - name: Install backend deps
        run: |
          cd backend
          npm install

      # Frontend
      - name: Install frontend deps
        run: |
          cd frontend
          npm install
          npm run build

      # Docker login
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      # Build + push backend
      - name: Build & Push Backend
        run: |
          docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/repair-shop-backend:latest ./backend
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/repair-shop-backend:latest

      # Build + push frontend
      - name: Build & Push Frontend
        run: |
          docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/repair-shop-frontend:latest ./frontend
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/repair-shop-frontend:latest
